html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: lightcoral;
}

#camera, #camera--view, #camera--sensor, #camera--output{
    margin: 0;
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#camera--view, #camera--sensor, #camera--output{
    margin: 0;
    transform: scaleX(1);
    filter: FlipH;
}

#camera--trigger{
    margin: 0;
    /* width: 200px; */
    background-color: transparent;
    display: none;
    /* color: white; */
    /* font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
  
    position: fixed;
    bottom: 30px;
    left: calc(50% - 100px); */
}


#comment--input{
    width:100%;
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: relative;
    /* bottom: 50px; */
    display: none;
}

#comment--button{
    width: 100px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: fixed;
    bottom: 50px;
    left: calc(50% + 200px);
    display: none;
}

.taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px ;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
}

body {
 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* 
#draggable {
        width: 150px;
        height: 150px;
        padding: 0.5em;
        background-color: transparent;
        border:0;
    } */

    
.ui-draggable-container {
    position: absolute;
    box-sizing: border-box;
    /* opacity: 0.9; */
}

.ui-draggable-clone {
	visibility: visible !important;
}

.ui-draggable-hidden {
	visibility: hidden;
}
#draggable{
    width: 80%;
    flex-shrink: 0;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    
}

#framebig{
display: block;
width: 100%;

}
#static{
position: absolute;
    margin-top: -94px;
    width: 200px;
    margin-left: 3px;
}
